@import "variable.sass"
@import "layout/_navigation.sass"
@import "typography.sass"
@import "layout/_header.sass"
@import "layout/_main.sass"
@import "card.sass"
@import "components/_form.sass"
@import "components/_btn.sass"
@import "components/_store-icons"
@import "layout/_footer.sass"
@import "abstracts/_link-underlining.sass"

@font-face 
    font-family: "helvetica-bolt" 
    src: url(../fonts/helvetica_bolt.otf)

@font-face 
    font-family: "helvetica-regular" 
    src: url(../fonts/helvetica_regular.otf)

@font-face 
    font-family: "roboto-bolt"
    src: url(../fonts/Roboto-Bold.ttf)

@font-face 
    font-family: "roboto-regular"
    src: url(../fonts/Roboto-Regular.ttf)
    
*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    color: $black
    transition: .5s all
    scroll-behavior: smooth 

body
    background-color: $white
    padding: 3%

.container
    margin: 0 auto
    width: 80%


