.navigation
    margin-bottom: 4rem
    display: grid
    grid-template-columns: minmax(min-content, 3fr) minmax(min-content, 1fr) minmax(min-content, 1fr)

    @include respond(phone)
        width: 90vw
        grid-template-rows: min-content min-content min-content
        grid-row-gap: 1rem
        margin-bottom: 1rem

    ul
        list-style: none
        line-height: 3.5rem 
        li
            a
                position: relative
                text-decoration: none
                color: $black 

    p
        justify-self: end
        @include respond(tab-port)
            font-size: 1.6rem
            white-space: nowrap
            grid-row: 2
            justify-self: center
    &__logo
        display: inline-block
        width: 7rem
        height: 7.4rem
        align-self: start
        @include respond(tab-port)
            grid-row: 1
            justify-self: center
    &__nav-menu
        @include respond(phone)
            display: none
    &-mobile
        position: relative
        transition: margin-bottom .5s
        &__contant
            @include respond(phone)
                position: relative
                text-align: center

        &__box
            display: none
            @include respond(phone)
                display: block
                grid-row: 3

                bottom: 0
                width: 90vw
                height: 5vh
                background-color: $grey-light
        &__button
            left: 0
            
            height: 5vh
            width: 100%
            border-radius: 50%
            position: relative
            display: flex
            justify-content: center
            align-items: center
            z-index: 75
            cursor: pointer
            text-align: center
        &__menu
            display: none            
            top: 0
            @include respond(phone) 
                display: flex
                justify-content: center
                height: 0
                opacity: 0
                width: 100%
                transition: all .5s ease-out
                
        &__background            
            @include respond(phone)
                background-color: $grey-light
                position: absolute
                width: 90vw
                height: 0vh
                opacity: 0
                transition: all .5s ease-out
                border-radius: 0 0 10% 10%

        &__toggle
            display: none //убираем квадрат для галочки
        &__icon

            @include respond(phone)
                position: relative
                z-index: 120

                &,
                &::before,
                &::after
                    content: ""
                    height: .2rem
                    width: 3rem
                    background: black
                    display: inline-block
                &::before, 
                &::after
                    content: ""
                    position: absolute
                    transition: all .5s
                    
                &::before
                    top: .7rem
                    left: 0
                    
                &::after
                    top: -.7rem
                    left: 0
        &__toggle:checked ~ &__button &__icon
            @include respond(phone)
                visibility: hidden /* скрываем среднюю линию */
        &__toggle:checked ~ &__background
            @include respond(phone)
                height: 33vh
                opacity: 100
        &__toggle:checked ~ &__menu
            @include respond(phone)
                transform: translateY(10%)
                height: 30vh
                opacity: 100 
                
        &__toggle:checked ~ &__button &__icon::before 
            visibility: visible /* верхняя строка - обращаемся по селектору соседа */
            transform: rotate(45deg) /* поворачиваем верхнюю линию */
            top: 0
            


        &__toggle:checked ~ &__button &__icon::after
            visibility: visible
            transform: rotate(-45deg) /* поворачиваем нижнюю линию */
            top: 0

        &__toggle:checked ~ &__contant &__box
            margin-bottom: 10rem
            
    
        &__button:hover &__icon::before
            transform: translateY(0.1rem) /* при наведении нижняя линия смещается вниз*/

        &__button:hover &__icon::after
            transform: translateY(-0.1rem) /* при наведении верхняя линия смещается вверх */



