.navigation
    margin-bottom: 4rem
    display: grid
    grid-template-columns: minmax(min-content, 3fr) minmax(min-content, 1fr) minmax(min-content, 1fr)
    ul
        list-style: none
        line-height: 3.5rem 
        li
            a
                position: relative
                text-decoration: none
                color: $black 

    p
        justify-self: end
        @include respond(tab-port)
            font-size: 1.6rem
    &__logo
        display: inline-block
        width: 7rem
        height: 7.4rem
        align-self: start 

